.button_type_edit {
  min-width: 24px;
  height: 24px;
  align-self: end;
  border: 1px solid #fff;
  margin-bottom: 7px;
  background: url(../../../images/icon-edit.svg) no-repeat center / 10px;
  transition: opacity .3s ease;
}

.button_type_edit:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .button_type_edit {
    min-width: 18px;
    height: 18px;
    margin-bottom: 4px;
    background-size: 5.25px;
  }
}
