.profile__info {
  display: grid;
  margin-right: 19px;
  gap: 10px 18px;
  grid-template-areas:
    'name edit'
    'description .';
  grid-template-columns: 1fr, 30px;
  grid-template-rows: repeat(2, auto);
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin: 28px 0 0 27px;
    column-gap: 11px;
  }
}
